FancyDisplay/.vs/
FancyDisplay/Library/
FancyDisplay/Temp/
FancyDisplay/Assets/AVProVideo/
FancyDisplay/Assets/Plugins/
FancyDisplay/Assets/StreamingAssets/AVProVideoSamples/
/效果原片
FancyDisplay/Assets/Fonts/SIMKAI SDF.asset
FancyDisplay/Assets/Fonts/SIMKAI SDF.asset.meta
**/项目发布Release